html {
font-family: Arial, Helvetica, sans-serif;
/* padding: 15px; */
}

body {
    background-color: lightgray;
    /* padding: 15px; */
}

/* NAVIGATION ------------------------------ */

header nav {
    background-color: darkgrey;
    height: 75px;
    text-align: center;
    position: relative;
}

header nav img {
    padding-top: 7px;
    margin-left: 15px;
    display: inline-block;
    width: 77px;
}

header nav ul {
    list-style: none;
    display: inline-block;
    margin: 0px 15px 0px 15px;
    width: calc(100% - 137px);
    position: relative;
    bottom: 20px;
}

header nav ul li {
    display: inline-block;
    font-size: 22px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: center;
   line-height: 40px;
}

header nav ul li a{
   text-decoration: none;
   color: #fff;
}

/* Grid Container */

div.grid__container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-areas:
 "left main right"
 "left main right";
}

div.grid__container aside.left {
    grid-area: left;
}

div.grid__container main {
    grid-area: main;
}

div.grid__container aside.right {
    grid-area: right;
}

/* Aside LEFT -------------------------- */
div.grid__container aside.left ul {
    list-style: none;
    position: relative;
    left: -20px;
}

/* Aside Right -------------------------- */
div.grid__container aside.right {
    position: relative;
    right: 15px;
}

/* Main ---------------------------------- */

div.grid__container main {
    position: relative;
    top: 50px;
    left: calc(100% / 2 - 97px);
}




/* Footer --------------------------------- */

footer {
    position: absolute;
    bottom: -10px;
}

