#add_btn {
    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}

#add_btn:hover {
    background-color: #e2b04ae1;
    border-color: #e2b04ae1;
    cursor: pointer;
    color: white;
}

#fpage-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


#select_div {
    display: flex;
    align-items: center;
}

#button_div {
    display: flex;
    align-items: center;
}