html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
}

body {
    height: 100vh;
}


/* NAVIGATION ------------------------------ */

header nav {
    display: inline;
    padding-top: 7px;
}

/* NAVIGATION Menu artifacts ------------------------------ */
/* General for navigation */
#aside_nav {
    position: relative;
    top: 88px;
    left: 180px;
    width: 200px;
}

#nav_ul li {
    float: left;
}

#aside_nav div ul li {
    margin-right: 6px;
}

/* General for buttons */
.nav_buttons {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 20px;
}

/* Create button */
#create_btn {
    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}

#create_btn:hover {
    background-color: #e2b04ae1;
    border-color: #e2b04ae1;
    cursor: pointer;
    color: white;
}

/* All Sites button*/
#all_sites_btn {
    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}

#all_sites_btn:hover {
    background-color: #BB17CEE0;
    border-color: #BB17CEE0;
    cursor: pointer;
    color: white;
}

/* Edit button*/
#edit_btn {
    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}

#edit_btn:hover {
    background-color: #18E7CEE0;
    border-color: #18E7CEE0;
    cursor: pointer;
    color: white;
}

/* Header ------------------------------------------------------------------------------ */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3px;
    padding-right: 2px;
}

#theme_btn {
    border: none;
    background-color: transparent;
    width: 40px;
    font-size: 23px;
}

#theme_btn:hover {
    cursor: pointer;
}

/* Menu ---------------------------------------------------------------------- */
#home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    border: none;
    background-color: transparent;
    width: 34px;
    margin-right: 5px;
}

#menu:hover {
    cursor: pointer;
}

#menu_list {
    border-radius: 5px;
    position: absolute;

    font-size: 24px;

    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 40px;

    background-color: rgb(58, 58, 58);
    color: #fff;

    overflow: hidden;

    transition: 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}

#menu_list a {
    text-decoration: none;
    color: #fff;
}

.show {
    opacity: 1;
    max-height: 500px;
}

.disappear {
    opacity: 0;
    max-height: 500px;
}

#menu_list a:hover {
    color: #68e468;
    cursor: pointer;
}

.menu_list_logout {
    top: 16px;
    right: 205px;
}

.menu_list_logged {
    top: 16px;
    right: 135px;
}

/* Sing buttons ------------------------------------------------------------------------  */

.sign_btns {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 20px;
}

#sign_in_btn {
    margin-right: 5px;
}

#sign_up_btn {
    margin-right: 2px;
}

#sign_in_btn,
#sign_up_btn,
#sign_out_btn {
    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}

#sign_in_btn:hover {
    background-color: #68e468;
    border-color: #68e468;
    cursor: pointer;
    color: white;
}

#sign_up_btn:hover {
    background-color: #e2b04ae1;
    border-color: #e2b04ae1;
    cursor: pointer;
    color: white;

    transition: 300ms;
}

#sign_out_btn:hover {
    background-color: rgb(232 53 53);
    border-color: rgb(232 53 53);
    cursor: pointer;
    color: white;

    transition: 300ms;
}

.sign_btns a {
    text-decoration: none;
    color: black;
}


/* Footer -------------------------------------------------------------------------------------------- */

#footer-content {
    /* position: fixed; */
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}
