.add_comment_btn {
    background-color: #e2b04ae1;
    border-color: #e2b04ae1;
    cursor: pointer;
    color: white;
}

#fpage-form-div {
    height: 350px;
}

#add_button:disabled {
    background-color: #eae9e9;
    border-color: #000000;
    color: #000000;
    cursor: not-allowed;
}

.form-control {
    resize: none;
}