.goToSites {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 20px;
    padding: 12px 37px;

    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}
.goToSites a {
    color: black;
    text-decoration: none;
}

.goToSites:hover {
    background-color: #68e468;
    border-color: #68e468;
    cursor: pointer;
    color: white;

    transition: 300ms;
}

#arrow {
    width: 25px;
}

.email_svgs_btn {
    width: 46px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}