html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(243, 235, 235, 0.495);
    scroll-behavior: smooth;
    margin: 0px;
}

body {

    height: 100vh;


}


/* NAVIGATION ------------------------------ */

header nav {
    display: inline;
}

/* ---------------------------------------------------- */

.content {
    min-height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

/* Header ------------------------------------------------------------------------------ */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3px;
    padding-right: 2px;
}

#theme_btn {
    border: none;
    background-color: transparent;
    width:  40px;
    font-size: 23px;
}

#theme_btn:hover {
    cursor: pointer;
}

nav {
    padding-top: 7px;
}

/* Menu ---------------------------------------------------------------------- */
#menu {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

#menu:hover {
    cursor: pointer;
}

#menu_list {
    border-radius: 5px;
    position: absolute;

    font-size: 24px;

    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 40px;

    top: 16px;
    right: 205px;

    background-color: rgb(58, 58, 58);
    color: #fff;

    overflow: hidden;

    transition: 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}

#menu_list a {
    text-decoration: none;
    color: #fff;
}

.show {
    opacity: 1;
    max-height: 500px;
}

.disappear {
    opacity: 0;
    max-height: 500px;
}

#menu_list a:hover {
    color: #68e468;
    cursor: pointer;
}

/* Sing buttons ------------------------------------------------------------------------  */

.sign_btns {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 20px;
}

#sign_in_btn,
#sign_out_btn {
    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}

#sign_in_btn:hover {
    background-color: #68e468;
    border-color: #68e468;
    cursor: pointer;
    color: white;
}

#sign_out_btn:hover {
    background-color: #e2b04ae1;
    border-color: #e2b04ae1;
    cursor: pointer;
    color: white;

    transition: 300ms;
}

.sign_btns a {
    text-decoration: none;
    color: black;
}

/* Main  ------------------------------------------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin: 0px;
}

#main_div {
    text-align: center;
}

#start_btn {
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: transparent;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 32px;
    padding-left: 32px;

    transition: 300ms ease-in-out;
    transition-delay: 70ms;
}

#start_btn:hover {
    background-color: #68e468;
    border-color: #68e468;
    cursor: pointer;
    color: white;
}

/* Footer -------------------------------------------------------------------------------------------- */

footer {
    /* position: fixed; */
    margin: 0px;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}
