/* Main  ------------------------------------------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin: 0px;
}

#main_div {
    text-align: center;
}

#start_btn {
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: transparent;
    padding: 7px 32px;

    transition: 300ms ease-in-out;
    transition-delay: 70ms;
}

#start_btn:hover {
    background-color: #68e468;
    border-color: #68e468;
    cursor: pointer;
    color: white;
}

#hero-section {
    min-height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

#content-section {
    min-height: 513px;
    min-width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

div #content-section img {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    object-fit: contain;
    object-position: inherit;
}

#left-side-con {
    position: absolute;
    z-index: 1;
    top: 870px;
    left: 50px;
    width: 500px;
    height: 150px;
    border-radius: 30px;
    background-color: rgb(243 235 235 / 12%);

    padding: 15px;

    transition: 1500ms ease-in-out;
    transition: opacity 1500ms ease-in-out, max-height 1500ms ease-in-out;
}

#right-side-con {
    position: absolute;
    top: 1100px;
    right: 50px;
    z-index: 1;
    width: 500px;
    height: 150px;
    border-radius: 30px;
    background-color: rgb(243 235 235 / 12%);

    padding: 15px;

    transition: 1500ms ease-in-out;
    transition: opacity 1500ms ease-in-out, max-height 1500ms ease-in-out;
}

#left-side-con2 {
    position: absolute;
    top: 1390px;
    left: 50px;
    z-index: 1;
    width: 500px;
    height: 150px;
    border-radius: 30px;
    background-color: rgb(243 235 235 / 12%);

    padding: 15px;

    transition: 1500ms ease-in-out;
    transition: opacity 1500ms ease-in-out, max-height 1500ms ease-in-out;
}

#left-side-con:hover {
    background-color: rgb(243 235 235 / 98%);
}

#right-side-con:hover {
    background-color: rgb(243 235 235 / 98%);
}

#left-side-con2:hover {
    background-color: rgb(243 235 235 / 98%);
}

.home_popups {
    text-decoration: none;
    color: black;
}

.home_popups div h3,p {
    color: black;
}
