html {
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
        background-color: lightgray;
    }
    
    /* NAVIGATION ------------------------------ */
    
    header nav {
        background-color: darkgrey;
        height: 79px;
        position: relative;
    }
    
    header nav img {
        padding-top: 5px;
        display: inline-block;
    }
    
    header nav ul {
        list-style: none;
        display: inline-block;
    }

    header nav {

        display: flex;
        justify-content: space-between;

    }
    
    header nav ul li {
        display: inline-block;
        font-size: 22px;
        padding-right: 40px;
        text-align: center;
        line-height: 40px;
    }
    
    header nav ul li a{
       text-decoration: none;
       color: #fff;
    }
    