/* Aside Left ----------------------------------------*/

aside.left {
    display: inline-block;
    width: 20%;
    padding-left: 15px;
    vertical-align: top;
}

/* Main */
main {
    display: inline-block;
    width: 58%;
    height: 86vh;
    text-align: center;
    vertical-align: middle;
}

/* Aside Right */

aside.right {
    display: inline-block;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}


/* Footer --------------------------------- */

footer {
vertical-align: bottom;
}

