@media screen and (max-width: 2048px) {
    #aside_nav {
        left: 800px;
    }
}

@media screen and (max-width: 1900px) {
    #aside_nav {
        left: 730px;
    }
}

@media screen and (max-width: 1800px) {
    #aside_nav {
        left: 680px;
    }
}

@media screen and (max-width: 1750px) {
    #aside_nav {
        left: 650px;
    }
}

@media screen and (max-width: 1700px) {
    #aside_nav {
        left: 620px;
    }
}

@media screen and (max-width: 1650px) {
    #aside_nav {
        left: 590px;
    }
}

@media screen and (max-width: 1600px) {
    #aside_nav {
        left: 570px;
    }
}

@media screen and (max-width: 1550px) {
    #aside_nav {
        left: 540px;
    }
}