html {
    background-color: rgba(243, 235, 235, 0.495);
}

body {
    background-color: rgba(243, 235, 235, 0.495);
}

.wrapper {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_log {
    display: flex;
    justify-items: center;
    justify-content: center;
}

#update-form-div {
    width: 100vw;
    height: 571px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

#update-form {
    width: 500px;
    height: 500px;
}


.h3 {
    color: black;
}


.update_btn {
    padding-left: 34px;
    padding-right: 34px;
}

.update_btn {
    transition: 300ms ease-in-out;
    transition-delay: 50ms;
}

.update_btn:hover {
    background-color: #51f2ac;
    border-color: #51f2ac;
    cursor: pointer;
    color: white;
}