<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sites</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet"/>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
  <link th:href="@{/css/tables.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

  <div id="main_div">
    <div id="table_border">
      <table id="collection">
        <thead>
        <tr>
          <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
          <td th:text="${comment.getComment()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

<footer id="footer-content">
  <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{../js/common.js}"></script>

</body>
</html>
