<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sites</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/tables.css}" rel="stylesheet"/>
    <link th:href="@{/css/forms_commons.css}" rel="stylesheet"/>
    <link th:href="@{/css/comments.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>
    <div id="main_div">
        <div class="wrapper">

            <div class="header_fpage">
                <h1 id="fpage_h1">Add Comment</h1>
            </div>

            <div id="fpage-form-div">
                <form id="fpage-form" th:action="@{/comments/site/{site_id}(site_id = ${site_id})}" th:method="POST"
                      th:object="${commentDTO}">

                    <div class="form-group">
                        <div class="label-holder text-white d-flex justify-content-center">
                            <label for="comment" class="h3 mb-2">Comment</label>
                        </div>
                        <textarea type="text" class="form-control" id="comment"
                                  th:field="*{comment}"
                                  th:rows="8"
                                  th:cols="80"></textarea>
                    </div>

                    <div class="button-holder d-flex justify-content-center">
                        <button id="add_button" type="submit"
                                class="btn btn-warning  mb-3 sign_btns form_submit_btn add_comment_btn" disabled>
                            Add Comment
                        </button>
                    </div>

                </form>
            </div>
        </div>


        <div th:id="comments_wrapper_div">
            <div th:class="comment_block_div" th:each="comment : ${comments}">
                <div th:id="user_comment_div">
                    <h4 th:text="${comment.getUser().getUsername()}"></h4>
                </div>
                <div th:id="comment_div">
                    <p th:text="${comment.getComment()}"></p>
                </div>
            </div>
        </div>

    </div>

</main>

<footer id="footer-content">
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/comments.js}"></script>

</body>
</html>
