<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>List of emails</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/forms_commons.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

    <div class="wrapper">

        <div class="header_fpage">
            <h1 id="fpage_h1">Create Site</h1>
        </div>

        <div id="fpage-form-div">
            <form id="fpage-form" th:action="@{/sites/create}" th:method="POST" th:object="${siteDTO}">

                <div th:each="error: ${#fields.errors()}" th:text="${error}" class="text-danger">Error messages</div>

                <div th:if="${errors != null}">
                    <div th:each="error : ${errors}" th:text="${error.toString()}" class="text-danger">

                    </div>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="siteAddress" class="h3 mb-2">Site Address</label><br>
                    </div>
                    <input type="url" class="form-control" id="siteAddress" name="siteAddress"
                           placeholder="example.com"
                           th:field="*{address}"
                           th:errorclass="bg-danger"/>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="domainName" class="h3 mb-2">Domain Name</label>
                    </div>
                    <input type="text" class="form-control" id="domainName" placeholder="Example"
                           th:field="*{domainName}"
                           th:errorclass="bg-danger"/>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning  mb-3 sign_btns form_submit_btn create_btn">Create
                    </button>
                </div>

            </form>
        </div>
    </div>


</main>

<footer id="footer-content">
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{/js/common.js}"></script>
</body>
</html>