<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>List of emails</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/tables.css}" rel="stylesheet"/>
    <link th:href="@{/css/emails.css}" rel="stylesheet"/>
    <link th:href="@{/css/media_emails.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

    <aside th:id="aside_nav">
        <div>
            <ul role="list" th:id="nav_ul">
                <li><a th:href="@{/emails/create}"><button th:id="create_btn" th:class="nav_buttons">Create</button></a></li>
                <li><button th:id="edit_btn" th:class="nav_buttons">Edit</button></li>
            </ul>
        </div>
    </aside>

    <div id="main_div">
        <div id="table_border">
            <table id="collection">
                <thead>
                <tr>
                    <th>Email Address</th>
                    <th>Description</th>
                    <th>Sites</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:id="row + ${email.id}" th:each="email : ${emails}">

                    <td th:text="${email.getEmailAddress()}"></td>
                    <td th:text="${email.getDescription()}"></td>
                    <td>

                        <a th:href="@{/sites/email/{email_id}(email_id=*{email.getId()})}">
                            <button class="goToSites"><img id="arrow" th:src="@{/images/arrow.png}" alt="arrow"/>
                            </button>
                        </a>

                    </td>
                    <td><a th:href="@{emails/edit/{email_id}(email_id=*{email.getId()})}"><button th:class="email_svgs_btn"><img id="gear" th:src="@{/images/gear-solid.svg}" alt="gear"/></button></a></td>
                    <td>
<!--                        <a th:method="Delete" th:href="@{emails/delete/{email_id}(email_id=*{email.getId()})}"><button>Delete</button></a>-->

                        <form th:method="DELETE" th:action="@{/emails/delete/{email_id}(email_id=${email.getId()})}">
<!--                            <input th:type="submit"></input>-->
                            <button th:type="submit" th:class="email_svgs_btn"><img id="trash_can" th:src="@{/images/trash-can-solid.svg}" alt="trash can"/></button>
                        </form>


                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>

<footer id="footer-content">
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/emails.js}"></script>
</body>
</html>
