<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List of emails</title>
  <link th:href = "@{/css/reset.css}" rel="stylesheet" />
  <link th:href = "@{/css/common.css}" rel="stylesheet" />
  <link th:href = "@{/css/tables.css}" rel="stylesheet" />
  <link th:href = "@{/css/emails.css}" rel="stylesheet" />
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

  <aside>
    <div>
      <ul role="list">
        <li>Search</li>
        <li><a th:href="@{/emails/create}">Create</a></li>
        <li>Update</li>
        <li>Delete</li>
      </ul>
    </div>
  </aside>

<div id="main_div">
<div id="table_border">
  <table id="collection">
    <thead>
    <tr>
      <th>id</th>
      <th>Email Address</th>
      <th>Description</th>
      <th>Sites</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="email : ${emails}">

      <td th:text="${email.getId()}"></td>
      <td th:text="${email.getEmailAddress()}"></td>
      <td th:text="${email.getDescription()}"></td>
      <td>

        <a th:href="@{/sites/email/{email_id}(email_id=*{email.getId()})}"><button class="goToSites"><img id="arrow" th:src="@{../images/arrow.png}" alt="arrow" /></button></a>

      </td>

    </tr>
    </tbody>
  </table>
</div>
</div>


</main>

<footer id="footer-content">
  <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{js/common.js}"></script>
<script th:src="@{js/emails.js}"></script>
</body>
</html>
