<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>EmailHolderApp</title>

  <!-- ----------------------------------------------------------from thymeleaf site-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--from thymeleaf site ---------------------------------------------------------- -->

  <link th:href="@{/css/reset.css}" rel="stylesheet"/>
  <link th:href = "@{/css/common.css}" rel="stylesheet" />
</head>
<body>


<p style="font-size: 37px">Something went wrong.</p>


<ul th:each="error:${errors}">
  <li th:text="${error}"></li>
</ul>


</body>
</html>
