<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmailHolderApp</title>
    <link rel="stylesheet" href="../static/reset.css" />
    <link rel="stylesheet" href="../static/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <img src="../images/LogoMakr-7dy6bO.png" alt="logo" />

        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">List</a></li>
          <li><a href="">About</a></li>
        </ul>
      </nav>
    </header>

    <div class="grid__container">
      <aside class="left">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">List</a></li>
          <li><a href="">About</a></li>
        </ul>
      </aside>

      <main>
       <form action="">
        <label for="">Email</label><br>
        <input type="text"><br>
        <label for="">Description</label><br>
        <input type="text"><br>
        <label for="">Password</label><br>
        <input type="password"><br>
        <label for="">Password</label><br>
        <input type="password"><br>
        <input type="submit" value="Submit">
       </form>

      </main>

      <aside class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Exercitationem quis voluptate vel eligendi voluptas, sit expedita eum,
          placeat esse dolore iusto dignissimos deserunt unde in minima. Error,
          facilis perspiciatis! Similique?
        </p>
      </aside>
    </div>

    <footer>
        <p>Email Holder &copy; All rights reserved</p>
      </footer>

  </body>
</html>
