<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>EmailHolder</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<body>

<header th:replace="~{fragments/navigation}"></header>


<div id="hero-section">

    <main>
        <div id="main_div">
            <h1>Collect all your emails in one place</h1>

            <button id="start_btn">Get Started</button>
        </div>

    </main>

</div>
<div id="content-section">

    <img th:src="@{images/heroImg.jpg}" alt="hero image">



    <div id="left-side-con" class="disappear">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odit est recusandae,
            dolorum provident quia esse nisi praesentium nihil repudiandae, quaerat earum
            sint placeat enim, harum commodi ipsa autem ut?</p>

    </div>

    <div id="right-side-con" class="disappear">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odit est recusandae,
            dolorum provident quia esse nisi praesentium nihil repudiandae, quaerat earum
            sint placeat enim, harum commodi ipsa autem ut?</p>

    </div>

    <div id="left-side-con2" class="disappear">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odit est recusandae,
            dolorum provident quia esse nisi praesentium nihil repudiandae, quaerat earum
            sint placeat enim, harum commodi ipsa autem ut?</p>

    </div>


</div>

<footer id="footer-content">
    <div>
        <p>Email Holder &copy; All rights reserved</p>
    </div>
</footer>

<script th:src="@{js/index.js}"></script>

</body>

</html>