<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>EmailHolder</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" rel="stylesheet"/>
</head>

<body>

<header>
<!--    <button id="theme_btn"><i class="fas fa-toggle-off" style="color: #000000;"></i></button>-->
    <button id="theme_btn"><img th:src="@{images/toggle-off-solid.svg}" alt="button" /></button>

    <ul id="menu_list" class="disappear" role="list">
        <li><a th:href="@{/home}">Home</a></li>
        <hr>
        <li><a th:href="@{/list}">List</a></li>
        <hr>
        <li><a th:href="@{/about}">About</a></li>
        <hr>
    </ul>

    <nav>
        <button id="menu"><i class="fas fa-bars" style="color:#000000;"></i></button>
        <button class="sign_btns" id="sign_in_btn">Sign In</button>
        <button class="sign_btns" id="sign_out_btn"><a th:href="@{/user/register}">Sign Up</a></button>
    </nav>

</header>


<div class="content">

    <main>
        <div id="main_div">
            <h1>Collect all your emails in one place</h1>

            <button id="start_btn">Get Started</button>
        </div>

    </main>

</div>

<img th:src="@{images/heroImg.jpg}" alt="hero image">

<footer>
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{js/index.js}"></script>

</body>

</html>