<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Register</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

    <div class="wrapper">

        <div class="header_reg">
            <h1 id="reg_h1">Register User</h1>
            <p id="exp">register by just username and email here:</p>
        </div>

        <div>
            <form th:action="@{/users/register}" th:method="post">

                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" placeholder="John" title="minimum 5 symbols"><br>

                <label for="mainEmail">Email</label><br>
                <input type="email" id="mainEmail" name="mainEmail" placeholder="john72@exmp.com"><br>

                <button type="submit">Submit</button>
                <!--        <button id="btn_sbm" type="button" value="Submit">Submitoo</button>-->

            </form>
        </div>
    </div>


</main>

<footer id="footer-content">
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{../js/common.js}"></script>
</body>
</html>
