<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sites</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/tables.css}" rel="stylesheet"/>
    <link th:href="@{/css/sites.css}" rel="stylesheet"/>
    <link th:href="@{/css/media_sites.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

    <aside th:id="aside_nav">
        <div>
            <ul role="list" th:id="nav_ul">
                <li><a th:href="@{/sites/create}">
                    <button th:id="create_btn" th:class="nav_buttons">Create</button>
                </a></li>
                <li><a th:href="@{/sites/all}">
                    <button th:id="all_sites_btn" th:class="nav_buttons">All Sites</button>
                </a></li>
            </ul>
        </div>
    </aside>

    <div id="main_div">
        <div id="table_border">
            <table id="collection">
                <thead>
                <tr>
                    <th>Site Domain</th>
                    <th>Address</th>
                    <th>Safety</th>
                    <th th:if="${forEmail}">Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:id="row + ${site.id}" th:each="site : ${sites}">
                    <td th:text="${site.getDomainName()}"></td>
                    <td th:text="${site.getAddress()}"></td>
                    <td>
                        <div th:if="${site.getSafety()}" th:class="iconsDiv">
                            <img th:src="@{/images/circle-check-solid.svg}" alt="check mark svg" th:class="iconTable">
                        </div>
                        <div th:unless="${site.getSafety()}" th:class="iconsDiv">
                            <img th:src="@{/images/triangle-exclamation-solid.svg}" alt="exclamation mark svg"
                                 th:class="iconTable">
                        </div>
                    </td>
                    <td th:if="${forEmail}">
<!--                        <div th:class="iconsDiv">-->
<!--                            <a th:href=""><img th:src="@{/images/xmark-solid.svg}" alt="x mark svg" th:class="iconTable"></a>-->

                            <form th:method="DELETE" th:action="@{/emails/{email_id}/sites/{site_id}(email_id=${email_id}, site_id=${site.id})}">
                                <button th:type="submit" th:class="remove_site_btn"><img th:id="x_mark_svg" th:class="iconTable" th:src="@{/images/xmark-solid.svg}" alt="trash can"/></button>
                            </form>
<!--                        </div>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<footer id="footer-content">
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{/js/common.js}"></script>

</body>
</html>
