<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sites</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/tables.css}" rel="stylesheet"/>
    <link th:href="@{/css/rates.css}" rel="stylesheet"/>
    <link th:href="@{/css/media_sites_all.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

    <aside th:id="aside_nav">
        <div>
            <ul role="list" th:id="nav_ul">
                <li><a th:href="@{/sites/create}">
                    <button th:id="create_btn" th:class="nav_buttons">Create</button>
                </a></li>
            </ul>
        </div>
    </aside>

    <!--  Popup of Rate dialog   ----------------------------------------------------------------------------------------------------------------->
    <div id="rate_popup_block" style="display: none;">

        <div id="rate_popup_wrapper">
            <div th:id="upper_wrapper">
                <button th:id="rate_popup_close_btn">X</button>
                <div id="form_box">
                    <div class="header_fpage">
                        <h1 id="fpage_h1">Rate a Site</h1>
                    </div>

                    <div id="fpage-form-div">
                        <form id="fpage-form" name="form_rate"
                              th:action="@{/rates/site/}"
                              th:method="POST"
                              th:object="${rateDTO}">


                            <div class="form-group">
                                <div class="label-holder text-white d-flex justify-content-center">
                                    <label for="rate" class="h3 mb-2">Rate</label>
                                </div>
                                <input type="number" class="form-control" id="rate"
                                       th:field="*{rate}"
                                       th:errorclass="bg-danger"
                                       min="0"
                                       max="6"/>
                            </div>

                            <div class="button-holder d-flex justify-content-center">
                                <button type="submit"
                                        class="btn btn-warning  mb-3 sign_btns rate_btn">
                                    Rate
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Table of all sites  ------------------------------------------------------------------------------------------------------------------>
    <div id="main_div">
        <div id="table_border">
            <table id="collection">
                <thead>
                <tr>
                    <th>Site Domain</th>
                    <th>Address</th>
                    <th>RATING</th>
                    <th>Rate</th>
                    <th>Comments</th>
                    <th>Safety</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="site : ${sites}">
                    <td th:text="${site.getDomainName()}"></td>
                    <td th:text="${site.getAddress()}"></td>
                    <td th:text="${site.getAverageForSite()}"></td>
                    <td>
                        <div th:class="iconsDiv">
                            <button th:id="${site.getId()}" th:class="comment-button"><img
                                    th:src="@{/images/star-regular.svg}"
                                    alt="rate svg" th:class="iconTable"></button>
                        </div>
                    </td>
                    <td>
                        <div th:class="iconsDiv">
                            <a th:href="@{/comments/site/{site_id}(site_id=*{site.getId()})}">
                                <button th:class="comment-button"><img th:src="@{/images/comment.svg}"
                                                                       alt="comment svg" th:class="iconTable"></button>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div th:if="${site.getSafety()}" th:class="iconsDiv">
                            <img th:src="@{/images/circle-check-solid.svg}" alt="check mark svg" th:class="iconTable">
                        </div>
                        <div th:unless="${site.getSafety()}" th:class="iconsDiv">
                            <img th:src="@{/images/triangle-exclamation-solid.svg}" alt="exclamation mark svg"
                                 th:class="iconTable">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<footer id="footer-content">
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/sitesAll.js}"></script>

</body>
</html>
