<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sites</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet"/>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
  <link th:href="@{/css/tables.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>

  <aside>
    <div>
      <ul role="list">
        <li>Search</li>
        <li><a th:href="@{/sites/create}">Create</a></li>
      </ul>
    </div>
  </aside>

  <div id="main_div">
    <div id="table_border">
      <table id="collection">
        <thead>
        <tr>
          <th>Site Domain</th>
          <th>Address</th>
          <th>Rate</th>
          <th>Safety</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="site : ${sites}">
          <td th:text="${site.getDomainName()}"></td>
          <td th:text="${site.getAddress()}"></td>
          <td th:text="${site.getRate()}"></td>
          <td>
            <div th:if="${site.getSafety()}" th:class="checkMarkDiv">
              <img th:src="@{../images/circle-check-solid.svg}" alt="check mark svg" th:class="safetyMark">
            </div>
            <div th:unless="${site.getSafety()}" th:class="checkMarkDiv">
              <img th:src="@{../images/triangle-exclamation-solid.svg}" alt="exclamation mark svg" th:class="safetyMark">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

<footer id="footer-content">
  <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{../js/common.js}"></script>

</body>
</html>
