<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/update.css}" rel="stylesheet"/>

</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<main>
    <div class="wrapper">

        <div class="header_log">
            <h1 id="log_h1">Update User</h1>
        </div>

        <div id="update-form-div">
            <form id="update-form" th:action="@{/users/update}" th:method="POST" th:object="${userUpdateDTO}">

                <div th:each="error: ${#fields.errors()}" th:text="${error}" class="text-danger">Error messages</div>

                <div th:if="${hasUpdateError}">
                    <div th:each="error : ${errors}" th:text="${error.toString()}" class="text-danger">

                    </div>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="username" class="h3 mb-2">Username</label>
                    </div>
                    <input type="text" class="form-control" id="username"
                           th:field="*{username}"
                           th:errorclass="bg-danger"/>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="mainEmail" class="h3 mb-2">Email</label>
                    </div>
                    <input type="email" class="form-control" id="mainEmail"
                           th:field="*{mainEmail}"
                           th:errorclass="bg-danger"/>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <label for="password" class="h3 mb-2">Password</label>
                    </div>
                    <input type="password" class="form-control" id="password"
                           th:field="*{password}"
                           th:errorclass="bg-danger"/>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning  mb-3 sign_btns update_btn">Update</button>
                </div>

            </form>
        </div>

    </div>
</main>

<footer id="footer-content">
    <p>Email Holder &copy; All rights reserved</p>
</footer>

<script th:src="@{../js/common.js}"></script>
</body>
</html>